.detail-img-mobile{
  height: 30vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: height 0.3s ease;
}

.detail-container{
  padding: 2em;
}

.movie-overview{
  padding: 1em 0;
  transition: all 0.3s ease;
}

.movie-overview.clamped p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movie-overview.expanded p {
  display: block;
  overflow: visible;
}

.more-button-area {
  text-align: center;
  margin-top: 0.5em;
}

.more-button-area button {
  border: none;
  text-decoration: underline;
  font-size: small;
}

.button-area{
  padding: 1.5em 0;
  text-align: center;
}

.button-area button{
  border: 0;
  border-radius: 10px;
  background-color: #E50914;
  text-decoration: none;
  padding: 10px;
  width: 70%;
}
