.banner{
  height: 60vh;
  background-position: 75% 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner::before{
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 60vh;
  width: 100%
}

.banner-text-area{
  width: 36%;
  height: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  padding-bottom: 5rem;
}

.banner-text-area > *{
  z-index: 2;
}

@media screen and (max-width: 1024px){
  .banner{
    height: 56vh;
  }

  .banner::before{
    height: 56vh;
  }

  .banner-text-area{
    width:80%;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 575px){
  .banner{
    background-position: center;
  }

  .banner-text-area{
    width:100%;
    padding-bottom: 2rem;
  }

  .banner-text-description{
    display: none;
  }
}