.pagination{
  justify-content: center;
  margin: 0;
  padding: 2em;
}

.movie-result{
  padding: 10px;
}

.dropdowns{
  margin: 0 4.5rem;
}

.top-info{
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.section-title{
  font-weight: bold;
}

.dropdown-sort{
  padding: 1em 0;
  margin-right: 25px;
  display: flex;
  justify-content: flex-end;
}

#dropdown-basic-button{
  background-color: #212529 !important;
  border: #212529 !important;

}

#dropdown-basic-button-sort{
  background-color:transparent !important;
  border: 0 !important;
}

.top-info .dropdown-menu {
  height: 200px;
  overflow-y: scroll;
}

.hidden{
  display: none;
}

  @media screen and (max-width: 575px){
    .dropdown-sort{
      margin-right: 30px;
    }
  }
