/* 카드 커질때 잘림방지 */
.overflow{
  overflow: hidden;
  padding-top: 2em;
}

.carousel-container{
  overflow: visible;
  height: 420px;
}

h3{
  padding-left: 0.7em;
}

@media screen and (max-width: 1200px){
  .carousel-container{
    height: 400px;
  }

  .overflow{
    padding-top: 0.8em;
  }
}

@media screen and (max-width: 920px){
  .carousel-container{
    height: 385px;
  }
}

@media screen and (max-width: 768px){
  .carousel-container{
    height: 350px;
  }
}

@media screen and (max-width: 650px){
  .carousel-container{
    height: 320px;
  }
}

@media screen and (max-width: 550px){
  .carousel-container{
    height: 310px;
  }
}

@media screen and (max-width: 500px){
  .overflow{
    padding-top: 0.75em;
  }
}